<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title
  
  </head>
  <body>
    <h1>Edit Task</h1>

<form action="{{ url('edytuj_z_bazy/{id}', { 'id': id }) }}" method="post">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
</form>
    
    <a href="{{ url('index') }}" >Strona glowna</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
