<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title
  
  </head>
  <body>
    <h1>Task Manager</h1>
    
    {% for task in tasks %}
    <li>{{ task.id }} {{ task.text }} <a href="{{ url('edytuj/{id}', { 'id': task.id }) }}" >Edytuj</a>  <a href="{{ url('usun_z_bazy/{id}', { 'id': task.id }) }}" >Usun</a></li>
    {% endfor %}
    
    </br>
    <a href="{{ url('dodaj') }}" >Dodaj</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
